.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
}

.bulletless-list {
	list-style: none;
}

.Row
{
    display: table;
    height: 6em;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 0.5em; /*Optional*/
}
.Column
{
    display: table-cell;
    background-color: Highlight; /*Optional*/
	text-color: HighlightText;
    text-align: center;
    vertical-align: middle;
}

#spanSuccess {
	display: block;
	width: 100%;
	text-align: center;
	background-color: green;
	text-color: white;
}
