.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
}

.bulletless-list {
	list-style: none;
}

.card {
	height: 3em;
    margin: 3px;
    display: flex; 
    align-items: center;
}

#spanSuccess {
	display: block;
	width: 100%;
	text-align: center;
	background-color: green;
	text-color: white;
}

.logo {
    margin: auto;
    text-align: center;
}
